body {
	padding-top: 70px;
}
.btn {
	margin-left: 2px;
}

.ui-autocomplete { 
	height: 200px; 
	overflow-y: scroll; 
	overflow-x: hidden;
}
.ui-autocomplete * { 
	height: 1.75em;
}

/**
 * Form Helper Styling
 */
.help-block {
	display:none;
}
.form-control {
	position: relative;
}
.form-helper {
	position: relative;
	font-size: 1.25rem;
}	


@media screen and (min-width: 769px) {
	.form-helper {
		font-size: 1.35rem;
		position: absolute;
		right: 1rem;
	}
}

@media screen and (max-width: 512px) {
	h1 > small {
		display:block;
	}
}

