
<header class="place" ng-if="top5.displayPlace == null || top5.displayPlace == place.slug "> 
	<h3 ng-click="top5.setPlace(place.slug)">
		<span>{{place.name}}</span> 
		<small class="pull-right"> <span class="hidden-xs">Rating: </span>{{place.ratings}}</small></h3>
</header>

<div ng-if="top5.displayPlace == place.slug">
	<p class="lead col-md-6 col-sm-12"> {{place.description}}</p>
	<section class="place location col-md-3 col-sm-6 col-xs-12">
		<h4>Location</h4>
		<address>
			{{place.address}}<br>
			{{place.suburb}}
			{{place.state}}
			{{place.postcode}}
		</address>
	</section>
	<section class="place contact col-md-3 col-sm-6 col-xs-12" ng-if="place.phone || place.email || place.website">
		<h4>Contact Details</h4>
		<span ng-if="place.phone">
			<a href="tel:{{place.phone}}" title="Telephone {{place.name}}">{{place.phone}}</a><br>
		</span>
		<span ng-if="place.email">
			<a href="mailto:{{place.email}}" title="Email {{place.name}}">{{place.email}}</a><br>
		</span>
		<span ng-if="place.website">
			<a href="{{place.website}}" title="Visit {{place.name}}'s website">{{place.website}}</a><br>
		</span>
	</section>
</div>

