<ul class="term-list list-unstyled">
	<li ng-repeat="term in top5.terms | filter:termSearch"
		ng-class="{'active' : top5.displayTerm == term.slug}"
		class="term {{term.slug}}">
		<a ng-click="top5.setTerm(term.slug)"
		   ng-class="{
				'active' : top5.displayTerm == term.slug,
				'col-md-10 col-sm-9 col-xs-8' : top5.displayTerm == term.slug,
			}"
		>
		   <h4>{{term.name}}</h4>
		</a>
		<a class="btn btn-default" ng-if="!top5.hideTermLink" ui-sref="tags-single({ slug: term.slug})" title="View more {{term.name}} places.">
			<span class="glyphicon glyphicon-search"></span>
			<span class="hidden-xs">More {{term.name}} places</span>
		</a>

		<a class="btn btn-default" ng-if="top5.hideTermLink" ui-sref="tags" title="Back to tags.">
			<span class="glyphicon glyphicon-arrow-left"></span>
			<span class="hidden-xs">Back to Tags</span>
		</a>
	</li>
</ul>
