<style>.angular-google-map-container { height: 400px; }</style>
<ui-gmap-google-map
	center='top5.map.center'
	bounds='top5.map.bounds'
	zoom='top5.map.zoom'
	options="{fit:true}"
>
	<ui-gmap-marker
			ng-repeat="marker in top5.map.markers"
	        idKey='marker.id'
	        label='marker.title'
	        coords='marker.coords'
	        click="marker.click"
	        options="{title:marker.title, label:marker.title}"

	>
	</ui-gmap-marker>

</ui-gmap-google-map>
