/* Contextual styles for row listings */
@mixin active-place($fg, $bg) {
	header {
			border-bottom: 2px solid $fg; 
		}
	&.active {
		border-bottom: 2px solid $fg; 
		&:first-child {
			// border-top: 2px solid $fg; 
		}
		header {
			background-color: $bg;
			border-bottom: 5px solid $fg;
		}
	}
}

.places.listing {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: space-between;
	width: 100%;
}

place-listing {
	flex-grow: 10;
	box-sizing: border-box;
	width: 100%;
	div {
		padding: 2rem 0;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
	}
	header {
		padding: 0.5rem 1rem;
		h3 {
			width: 100%;
			box-sizing: border-box;
			span {
				margin-right: 2.75rem;
				display: inline-block;

			}
		}
	}
	.place {
		padding-bottom: 1rem;
	}
}
/**
 * Add contextual colours to children based on order (1-5 because, top5)
 */
place-listing {
	&:nth-child(1) { 
		@include active-place($one, desaturate(lighten($one, 55%), 50%))
	}
	&:nth-child(2) { 
		@include active-place($two, desaturate(lighten($two, 45%), 10%))
	}

	&:nth-child(3) { 
		@include active-place($three, desaturate(lighten($three, 25%), 15%))
	}
	&:nth-child(4) { 
		@include active-place($four, lighten($four, 15%))
	}
	&:nth-child(5) { 
		@include active-place($five, lighten($five, 5%))
	}
}
