.terms-page {
	position: relative;
	.info-panel {
		border-top: 2px solid $midGry;
		z-index: 1000;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: white;
		position: fixed;
		bottom: -3rem;
		left: 0;
		header {
			background-color: white;
			z-index: 1001;
			padding: 10px 10px 10px;
			margin: 0;
			margin-bottom: -1.75rem;
			p, h1 {
				padding: 0;
				margin: 0;
				input[type=text] {
					border: 2px solid $midGry;
					font-size: 1.25em;
					padding-top: 1em;
					padding-bottom: 1em;
				}
			}
		}
	}
}

term-list { 
	box-sizing: border-box;
	&.index {
		padding: 1.5rem;
	}
	ul {
		overflow: scroll;
		max-height: 5em;
		margin: 0;
		padding: 0;
		align-items: stretch;
		justify-content: center;
		background-color: $lightGry;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		li {
			box-sizing: border-box;
			margin: 0.25rem;
			min-width: 7.5em;
			padding: 0;
			position: relative;
			text-align: center;
			a {
				color: $darkGry;
			}
			.btn {
				display:none;
			}
		}
		.active {
			background-color: $lightGry;
			margin: 0;
			order: 1;
			text-align: right;
			width: 100%;
			position: fixed;
			top: 50px;
			left: 0;
			border-bottom: 2px solid $midGry;
			a {
				h4 {
					margin-left: 4rem;
					color: lighten($red, 10%);
					font-size: 1.2em;
				}
			}
			.btn {
				display: inline-block;
				position: absolute;
				letter-spacing: 0.25rem;
				font-size: 1.75rem;
				vertical-align: middle;
				padding-top: 0.9em;
				padding-bottom: 1em;
				top: 10px;
				left: 10px;
				min-width: 5rem;
				border: 1px solid darken($lightGry, 25%);
			}
		}
	}
}
a:hover {
	color: $red;
}
a.active {
	color: $red;
	font-size: 10em;
	font-size: 2.5em;
	order: 1;
	text-decoration: none;
}

@media (max-width: $bp-xs) {
	.terms-page {
		header.title {
			min-height: 5rem;
			position: relative;
			h1 {
				font-size: 2.25rem;
				position: absolute;
				bottom: 0.75rem;
			}
			p {
				input[type=text] {
					font-size: 1.5rem !important;
					padding-top: 0;
					padding-bottom: 0;
					position: absolute;
					bottom: -3.5rem;
				}
			}
			
		}
	}
	term-list {
		ul {
			max-height: 2.5em;
		}
	}
}