@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700';
body {
	font-family: Roboto, sans-serif;
	font-size: 18px;
}
h1 {
	padding: 0;
	margin: 0;
	line-height: 1.25em;
}
h4 {
	font-family: 'Roboto Slab', Serif;
}
.places {
	header {
		font-family: 'Roboto Slab', Serif;
		h3 {
			font-weight: 300;
			font-size: 2.5rem;
			letter-spacing: 0.25em;
			small {
				font-family: Roboto, sans-serif;
				letter-spacing: 0.15em;
				font-size: 2.25rem;
				font-weight: 300;
			}
		}
	}
}
.place.location, .place.contact {
	font-weight: 300;
}
@media (max-width: $bp-xs) {
	header.place > h3 {
		font-size: 2rem !important;
		position: relative;
		small {
			font-size: 1.75rem !important;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.active > h4 {
		font-size: 4.5rem !important;
		padding-bottom: 0.5rem;
	}
	place-listing {
		header, div {
			padding: 0;
			margin: 0;
			height: auto !important;
			h3 {
				span {
					font-size: 1.75rem;
					letter-spacing: 0.1rem;
				}
			}
		}
	}
}