$green : #548B54;
$red : darken(#E41B17, 15%);
$darkGry : darken(#485F77, 25%);
$midGry : #98AFC7;
$lightGry : lighten($midGry, 15%);

$one : #004da0;
$two : #2480c0;
$three : #65abd9;
$four : #9ac9e2;
$five : #c4dbf0;

$bp-xs : 420px;
$bp-sm : 512px;
$bp-md : 768px;
$bp-lg : 960px;
$bp-xl : 1000px;