@import 'variables';
@import 'typography';
@import 'layout';
@import 'listings';
@import 'nav';
@import 'terms';
@import 'place';
@import 'user';
@import 'map';
/* Add body offset for fixed navbar */
body {
	height: 100vh;
	padding-top: 12.5rem;
	padding-bottom: 70px;
	margin-bottom: 70px;
	margin: 0 auto;
}
.hidden { display: none; }