@import "https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700";
body {
  font-family: Roboto, sans-serif;
  font-size: 18px; }

h1 {
  padding: 0;
  margin: 0;
  line-height: 1.25em; }

h4 {
  font-family: 'Roboto Slab', Serif; }

.places header {
  font-family: 'Roboto Slab', Serif; }
  .places header h3 {
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 0.25em; }
    .places header h3 small {
      font-family: Roboto, sans-serif;
      letter-spacing: 0.15em;
      font-size: 2.25rem;
      font-weight: 300; }

.place.location, .place.contact {
  font-weight: 300; }

@media (max-width: 420px) {
  header.place > h3 {
    font-size: 2rem !important;
    position: relative; }
    header.place > h3 small {
      font-size: 1.75rem !important;
      position: absolute;
      top: 0;
      right: 0; }

  .active > h4 {
    font-size: 4.5rem !important;
    padding-bottom: 0.5rem; }

  place-listing header, place-listing div {
    padding: 0;
    margin: 0;
    height: auto !important; }
    place-listing header h3 span, place-listing div h3 span {
      font-size: 1.75rem;
      letter-spacing: 0.1rem; } }
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.title, .content {
  margin: 0 auto; }

/* Contextual styles for row listings */
.places.listing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  width: 100%; }

place-listing {
  flex-grow: 10;
  box-sizing: border-box;
  width: 100%; }
  place-listing div {
    padding: 2rem 0;
    margin-left: -0.5rem;
    margin-right: -0.5rem; }
  place-listing header {
    padding: 0.5rem 1rem; }
    place-listing header h3 {
      width: 100%;
      box-sizing: border-box; }
      place-listing header h3 span {
        margin-right: 2.75rem;
        display: inline-block; }
  place-listing .place {
    padding-bottom: 1rem; }

/**
 * Add contextual colours to children based on order (1-5 because, top5)
 */
place-listing:nth-child(1) header {
  border-bottom: 2px solid #004da0; }
place-listing:nth-child(1).active {
  border-bottom: 2px solid #004da0; }
  place-listing:nth-child(1).active header {
    background-color: #cbdcee;
    border-bottom: 5px solid #004da0; }
place-listing:nth-child(2) header {
  border-bottom: 2px solid #2480c0; }
place-listing:nth-child(2).active {
  border-bottom: 2px solid #2480c0; }
  place-listing:nth-child(2).active header {
    background-color: #d5e8f4;
    border-bottom: 5px solid #2480c0; }
place-listing:nth-child(3) header {
  border-bottom: 2px solid #65abd9; }
place-listing:nth-child(3).active {
  border-bottom: 2px solid #65abd9; }
  place-listing:nth-child(3).active header {
    background-color: #d0e2ed;
    border-bottom: 5px solid #65abd9; }
place-listing:nth-child(4) header {
  border-bottom: 2px solid #9ac9e2; }
place-listing:nth-child(4).active {
  border-bottom: 2px solid #9ac9e2; }
  place-listing:nth-child(4).active header {
    background-color: #d5e9f3;
    border-bottom: 5px solid #9ac9e2; }
place-listing:nth-child(5) header {
  border-bottom: 2px solid #c4dbf0; }
place-listing:nth-child(5).active {
  border-bottom: 2px solid #c4dbf0; }
  place-listing:nth-child(5).active header {
    background-color: #d8e7f5;
    border-bottom: 5px solid #c4dbf0; }

.terms-page {
  position: relative; }
  .terms-page .info-panel {
    border-top: 2px solid #98AFC7;
    z-index: 1000;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: -3rem;
    left: 0; }
    .terms-page .info-panel header {
      background-color: white;
      z-index: 1001;
      padding: 10px 10px 10px;
      margin: 0;
      margin-bottom: -1.75rem; }
      .terms-page .info-panel header p, .terms-page .info-panel header h1 {
        padding: 0;
        margin: 0; }
        .terms-page .info-panel header p input[type=text], .terms-page .info-panel header h1 input[type=text] {
          border: 2px solid #98AFC7;
          font-size: 1.25em;
          padding-top: 1em;
          padding-bottom: 1em; }

term-list {
  box-sizing: border-box; }
  term-list.index {
    padding: 1.5rem; }
  term-list ul {
    overflow: scroll;
    max-height: 5em;
    margin: 0;
    padding: 0;
    align-items: stretch;
    justify-content: center;
    background-color: #cad5e2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    term-list ul li {
      box-sizing: border-box;
      margin: 0.25rem;
      min-width: 7.5em;
      padding: 0;
      position: relative;
      text-align: center; }
      term-list ul li a {
        color: #182028; }
      term-list ul li .btn {
        display: none; }
    term-list ul .active {
      background-color: #cad5e2;
      margin: 0;
      order: 1;
      text-align: right;
      width: 100%;
      position: fixed;
      top: 50px;
      left: 0;
      border-bottom: 2px solid #98AFC7; }
      term-list ul .active a h4 {
        margin-left: 4rem;
        color: #cd1815;
        font-size: 1.2em; }
      term-list ul .active .btn {
        display: inline-block;
        position: absolute;
        letter-spacing: 0.25rem;
        font-size: 1.75rem;
        vertical-align: middle;
        padding-top: 0.9em;
        padding-bottom: 1em;
        top: 10px;
        left: 10px;
        min-width: 5rem;
        border: 1px solid #7795b5; }

a:hover {
  color: #9f1310; }

a.active {
  color: #9f1310;
  font-size: 10em;
  font-size: 2.5em;
  order: 1;
  text-decoration: none; }

@media (max-width: 420px) {
  .terms-page header.title {
    min-height: 5rem;
    position: relative; }
    .terms-page header.title h1 {
      font-size: 2.25rem;
      position: absolute;
      bottom: 0.75rem; }
    .terms-page header.title p input[type=text] {
      font-size: 1.5rem !important;
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      bottom: -3.5rem; }

  term-list ul {
    max-height: 2.5em; } }
#map {
  border: 10px solid black;
  box-sizing: border-box;
  width: 100%;
  height: 365px; }

/* Add body offset for fixed navbar */
body {
  height: 100vh;
  padding-top: 12.5rem;
  padding-bottom: 70px;
  margin-bottom: 70px;
  margin: 0 auto; }

.hidden {
  display: none; }
