<header class="title">
	<h1>Tags</h1>
	<p class="pull-right">
		<input type="text" ng-model="termSearch" class="form-control">
	</p>
</header>

<div class="content">
	<term-list ng-if="top5.terms" ng-init="terms = top5.terms"></term-list>

	<div ng-repeat="term in top5.terms" ng-class="term.name" class="places listing">
		<place-listing 
		 	ng-if="top5.displayTerm == term.name" 
		 	ng-repeat="place in term.places" 
			ng-class="{'active' : top5.displayPlace == place.slug}
		"></place-listing>
	</div>
</div>