<div class="terms-page single">
	<div class="content">
		<!-- <term-list ng-if="top5.terms"></term-list> -->
		<term-list ></term-list>

		<div class="places listing">
			<place-listing ng-repeat="place in top5.places" ng-class="{'active' : top5.displayPlace == place.slug}"></place-listing>
		</div>
	</div>
	<top-map></top-map>
</div>
