<div class="terms-page">
	<div class="info-panel index">
		<header class="title row">
			<h1 class="pull-left">All Tags</h1>
			<p class="col-xs-6 pull-right">
				<input type="text" ng-model="termSearch" class="form-control" placeholder="Search tags...">
			</p>
		</header>
		<term-list class="index"></term-list>
	</div>
	<div class="content">
		<div class="places listing">
			<place-listing ng-repeat="place in top5.places" ng-class="{'active' : top5.displayPlace == place.slug}"></place-listing>
		</div>
	</div>

	<top-map></top-map>
</div>
