<header class="title">
	<h1>Single Tag</h1>
	<p class="pull-right">
		<input type="text" ng-model="termSearch" class="form-control">
	</p>
</header>

<div class="content">
	{{top5.state.params.slug}}
</div>